# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - uses: D3rHase/rsync-deploy-action@latest
      with:
        HOST: ${{secrets.HOST}}                             # Remote server address / ip - Required: true
        PORT: ${{secrets.PORT}}                             # Remote server port -  Default: 22 - Required: false
        USER: ${{secrets.USER}}                             # Remote server user - Required: true
        PRIVATE_SSH_KEY: ${{secrets.PRIVATE_SSH_KEY}}       # Private ssh key registered on the remote server - Required: true
        REPOSITORY_PATH: ${{secrets.REPOSITORY_PATH}}       # Repository path of the file-s you want to upload - Default: * - Required: true
        SERVER_PATH: ${{secrets.SERVER_PATH}}               # Server destination / path, where the file-s will be uploaded to - Default: ~/ - Required: false
